if SHIELD_VOLTBALL_LEFT

config ZMK_KEYBOARD_NAME
    default "Voltball"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_VOLTBALL_LEFT || SHIELD_VOLTBALL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_STATUS_LED
    default y


config ZMK_POINTING
    default y

config PAW3222
    default y

endif
